* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(25, 24, 24) ;
}
.container {
    display: flex;
    flex-direction: column;
    
}
h1, h3 {
    text-align: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
.jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 60px;
    background-color: rgb(244, 244, 121);
    border-radius: 4px;
}